{% extends "layout.html" %}

{% block content %}
<div class="card mt-5 mx-auto" style="width: 50rem;">
    <div class="card-header text-center">
        <h2>{{ movie.title }} ({{ movie.released }})</h2>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="{{ movie.poster_url.url }}" class="card-img-top" alt="Obrázek filmu nenalezen" style="width: 50%;border: 1px solid black">
            <h5 class="card-title">Režisér:
                <a href="{% url 'director_detail' %}?director_id={{ movie.director.id }}" class="link-offset-2 link-underline link-underline-opacity-0">
                    {{ movie.director.name }} {{ movie.director.surname }} ({{movie.director.birth_day}})
                </a>
            </h5>
            Obsazení filmu:
            {% for actor in movie.actor.all %}
                <a href="{% url 'actor_detail' actor.id %}" class="link-offset-2 link-underline link-underline-opacity-0">
                    {% if movie.actor.all|length == forloop.counter %}
                        {{ actor }}
                    {% else %}
                        {{ actor }},
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <h4 class="mt-2">Popis filmu</h4>
        <p class="card-text">{{ movie.description }}</p>
    </div>
    <div class="card-footer text-body-secondary">
        <p class="text-center">{{ movie.created|date:"d.m.Y H:i:s" }}</p>
        <span class="text-start"><a href="#" class="btn btn-primary">Edit</a></span>
        <span class="text-end"><a href="#" class="btn btn-danger">Delete</a></span>

    </div>
</div>
{% endblock %}