{% extends 'layout.html' %}

{% block content %}
<div class="card mt-5 mx-auto" style="width: 50rem;">
    <div class="card-header text-center">
        <h2>Editace: {{ form.title.value }} ({{ form.released.value }})</h2>
    </div>
    <div class="card-body text-center">
        <form method="post" class="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div class="mb-3">
                {{ form.rating.label_tag }}
                {{ form.rating }}
                {{ form.rating.errors }}
            </div>

            <div class="mb-3">
                {{ form.released.label_tag }}
                {{ form.released }}
                {{ form.released.errors }}
            </div>

            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="mb-3">
                {{ form.poster_url.label_tag }}
                {{ form.poster_url }}
                {{ form.poster_url.errors }}
            </div>

            <div class="mb-3">
                {{ form.genre.label_tag }}
                {{ form.genre }}
                {{ form.genre.errors }}
            </div>

            <div class="mb-3">
                {{ form.director.label_tag }}
                {{ form.director }}
                {{ form.director.errors }}
            </div>

            <div class="mb-3">
                {{ form.actor_ids.label_tag }}
                {{ form.actor_ids }}
                {{ form.actor_ids.errors }}
            </div>

    </div>
    <div class="card-footer text-body-secondary">
        <div class="d-flex justify-content-between mb-2">
            <div class="p-2">
                <a href="{% url 'movie_detail' object.id %}" class="btn btn-secondary">Vrátit zpět</a>
            </div>
            <div class="p-2">
                <button type="submit" class="btn btn-primary">Upravit film</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}