{% extends "layout.html" %}

{% block content %}
  <h1>Filmy</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Název filmu</th>
        <th>Rok vydání</th>
        <th>Hodnocení</th>
        <th>Popis</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in object_list %}
        <tr>
          <td><a href="{% url 'movie_detail' %}?movie_id={{ movie.id }}" class="link-offset-2 link-underline link-underline-opacity-0">{{movie.title }}</a></td>
          <td>{{ movie.released }}</td>
          <td>{{ movie.rating }}</td>
          <td>{{ movie.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}